.App {
  text-align: center;
  background-color: cornflowerBlue;
}


  header * {
  background-color: white;
  max-height: 5%;
  display: inline;
  flex-direction: column;
  font-size: 28px;
  color: black;
  padding-left: 22px;
  border-right: 0.5px solid grey;
  border-bottom: 0.5px solid grey;
  text-decoration: none;
}

.App-link {
  color: cornflowerBlue;
}
