body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.orderForm {
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 800px;
  padding-left: 275px;
}

.customerForm {
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 800px;
  padding-left: 275px;
}

input{
  font-size: 15px;
}

button{
  font-size: 20px;
  background-color: cornflowerBlue;
  color: white;
}

select{
  font-size: 15px;
}

.name{
  margin: 5px solid black;
}

.customerBox {
  background-color: cornflowerBlue;
  border-radius: 10px;
}

.orderBox {
  background-color: cornflowerBlue;
  border-radius: 10px;
}

.dishBox {
  background-color: cornflowerBlue;
  border-radius: 10px;
}

.admin{
  font-size: 50px;
  text-align: center;
  color: cornflowerBlue;
}
